<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Confirm Leave</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="action(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to leave this page? </strong></p>
  <p>All unsaved changes associated to this user profile will be lost.
  <span class="text-danger">These unsaved changes can not be retrieved.</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="action(false)">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="action(true)">Ok</button>
</div>
